.grid{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows:  2fr 4.7fr ;
    grid-template-areas: "header header header"
     "menu contenido enlaces" "footer footer footer";
}
.a{
    grid-area: header;
    background-color: darkcyan;
    height: 150px;

}
.b{
    grid-area: menu;
    background-color: aqua;

}
.c{
    grid-area:contenido;
    background-color: coral;
  
}
.d{
   grid-area:enlaces;
   background-color: yellow;

}
.e{
    grid-area:footer;
    background-color:darkgreen;
    height: 100px;
}


