span{
    width:100px;
    display: block;
    float: left;
    padding-left: 4px;
}
.nom{
    background-color: rgb(139, 139, 139);
    
    color: white;
}

.nom2{
    background-color: rgb(139, 139, 139);
    
    color: white;
    width: 178px;
}

.nom3{
    background-color: rgb(139, 139, 139);
    
    color: white;
    width: 155px;
}

.titu{
    background-color: #0df39b;
    border: black 1px solid;
}

li{
    list-style: none;
    margin-top: 1px;
    left: -50%;    
    width: 550px;
}

ul{
    margin: 0px;
    padding-left: 0px;
}

#contenedor{
    width: 600px;
    margin: auto;
    background-color: floralwhite;
    padding-left: 10px;
    font-family: calibri;    
}

.titu2{
    width: 180px;
    background-color: #0df39b;
    border: black 1px solid;
}

.titu3{
    width: 146px;
    background-color: #0df39b;
    border: black 1px solid;
}

.img{
    width: 70px;
    height: 70px;  
    position: relative; 
    left: 150px;
}

.imagen{
    align-content: center;
}

body{
    background-color: floralwhite;
}

button{
    background-color:#0df39b; 
    color: black;
}

.vacio{
    align-content: center;
    position: relative;
    left: 240px;
}